

.root {
     -fx-background-image: url("background6.jpg");
     -fx-background-size: 950px;
     -fx-background-repeat: no-repeat;
}

.text {
      -fx-font-family: "Courier New";
      -fx-font-weight: bold
}